// global colors
// $orange: #F69800;
// $yellow: #F5FF3B;
// $lightblue: #84A9C0;
// $purple: #6A66A3;
// $darkblue: #102E4A;

.cruisespage {
    padding: 10px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }

    .cruises {
        .cruise {
            display: grid;
            grid-template-columns: 300px 1fr;
            margin: 20px 0;

            .imageContainer {
                width: 300px;
                img {
                    width: 100%;
                }
            }
            
            .content {
                padding: 10px;
                padding-top: 0px;
                h4 {
                    font-size: 25px;
                    font-weight: bold;
                    padding-bottom: 5px;
                    line-height: 1.2;
                }
                p {
                    line-height: 1.2;
                }
                .btnArea {
                    width: 100%;
                    text-align: right;

                    button {
                        padding: 8px;
                        width: 150px;
                        border-radius: 5px;
                        border: none;
                        background-color: $darkblue;
                        color: white;
                        margin-right: 20px;
                        margin-top: 10px;
                        font-size: 18px;
                    }
                }
                
            }
        }
    }
}

// screen sizes
// $medium: 1007;
// $small: 641;

@media only screen and (max-width: $small) {
    .cruisespage .cruises .cruise {
        display: grid;
        grid-template-columns: 1fr;

        .imageContainer {
            width: 100%;
        }
        
        .content {
            padding: 0;
            margin: 10px 0;
            .btnArea button {
                width: 100%;
                margin: 10px 0;
            }   
        }
    }
}